/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-#e73c3cuced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {

  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #e73c3c;
  border-bottom: 3px solid #e73c3c;
  /* margin-bottom: 10%; */
}

.App-link {
  color: #61dafb;
}
.App-body{
  padding: 5%;
  min-height: 100vh;

}
.App-footer{
  /* put in last page in center  */
  /* background-color: #fff;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  border-top: 2px solid #e73c3c;
  

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
